<div id="banner-wrapper"></div>
<div id="popup" class="closed">
    <div class="popup-wrapper">
        <div id="popup-container"></div>
        <button id="close-popup">Close</button>
    </div>
</div>
<script>
const closeBtn = document.querySelector('#close-popup');
const popupBackground = document.querySelector('#popup');
const wrapper = document.querySelector('#banner-wrapper');
const openPopup = (index) => {
    window.openedBannerPopup = window.banners[index].banner_id;
    const popupContainer = document.querySelector('#popup-container');
    popupContainer.innerHTML = window.banners[index].popup_text;
    const popup = document.querySelector('#popup');
    popup.classList.remove('closed');
    popup.classList.add('opened');
}
const closePopup = () => {
    delete window.openedBannerPopup;
    const popup = document.querySelector('#popup');
    popup.classList.remove('opened');
    popup.classList.add('closed');
}
const closePopupByBackground = (e) => {
    if (e.target === e.currentTarget) {
        closePopup();
    }
}
popupBackground.onclick = closePopupByBackground;
closeBtn.onclick = closePopup;
require(['jquery'], ($) => {
    $(document).ready(() => {
        $.ajax({
            url: '<?php echo $this->getBaseUrl().'graphql' ?>',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                query: `query promoWidget {
                    promoWidget {
                        banner_id
                        title
                        banner_text
                        popup_text
                        show_once
                    }
                }`
            }),
            success: (response) => {
                window.banners = response.data.promoWidget;
                const shownBanners = localStorage.getItem('shown_once') ? localStorage.getItem('shown_once').split(',') : [];
                for (let i = 0; i < window.banners.length; i++) {
                    const banner = window.banners[i];
                    if (!shownBanners.includes(banner.banner_id.toString()) ||
                      (shownBanners.includes(banner.banner_id.toString()) && !banner.show_once)) {
                        const newBanner = document.createElement('div');
                        newBanner.classList.add('banner');
                        newBanner.onclick = () => openPopup(i);
                        newBanner.innerHTML = banner.banner_text;
                        wrapper.append(newBanner);
                        if (banner.show_once) {
                            shownBanners.push(banner.banner_id);
                        }
                        localStorage.setItem('shown_once', shownBanners.join(','));
                        break;
                    }
                }
            }
        });
    });
});
</script>

<style>
.popup-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: 20px;
}

#popup.opened {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
}

#popup.closed {
  display: none;
}

#popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
}

.banner:hover {
  cursor: pointer;
}
</style>
